@import './partials/mixins';
@import './partials/variables.scss';
@import './partials/breakpoints.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    ul{
        @include flex-between;  
        list-style: none;
        background-color: $company-color;
        color: #fff;
        padding: $padding-default;
        font-weight: bold;
    }
}

main{
    padding: $padding-default;

    .boxes{
        @include flex-between;
        flex-direction: column;
        @include display-medium {
            flex-direction: row;
        }
        .box{
            @include box;
            background-color: rgb(206, 203, 203);
        }
    }

}

footer{
    position: fixed;
    bottom: 0;
    background-color: $company-color;
    color: #fff;
    padding: $padding-default;
    width: 100%;
}

@include italic-links; 